<footer>

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h4>Contacts.</h4>
                <ul class="list-inline gdt-contact-links">
                    <li><a href="tel:07852 271433" title="Telephone Genesis Driving School"><span class="icon-mobile"></span></a></li>
                    <li><a href="mailto:hello@genesis-driving-school.com" title="Email Genesis Driving School"><span class="icon-envelop"></span></a></li>
                    <li><a href="http://twitter.com/carydesilva/" title="Follow Genesis Driving School on Twitter"><span class="icon-twitter"></span></a></li>
                    <li><a href="https://www.facebook.com/GenesisDrivingSchool" title="Follow Genesis Driving School on Facebook"><span class="icon-facebook"></span></a></li>
                    <li><a href="https://plus.google.com/116399927921941500887/about" title="Follow Genesis Driving School on Google Plus"><span class="icon-google-plus"></span></a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Associations.</h4>
                <ul class="list-inline gdt-badges">
                    <li><img src="/imgs/logo-ttp.02.png" alt="Theory Test Pro logo"></li>
                    <li><img src="/imgs/logo-passplus.02.png" alt="Pass Plus logo"></li>
                    <li><img src="/imgs/logo-dsa.02.png" alt="Driving Standards Agency logo"></li>
                </ul>
            </div>

            <div class="col-md-4 gdt-areas">
                <h4>Areas.</h4>
                <p>Genesis Driving School can provide driving lessons in Warlingham, Hamsey Green, Selsdon, Kenley, Caterham, Purley, South Croydon, Wallington, Carshalton, Sutton, Belmont and Banstead.</p>
            </div>

        </div> <!-- end row -->

    </div><!-- end container -->

</footer>