
<div class="navbar navbar-default navbar-fixed-top gdt-nav">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Website navigation menu">
                <span class="icon-menu"></span>
            </button>
            <a class="navbar-brand gdt-brand" href="/" title="Genesis Driving School: Homepage"><img
                    src="/imgs/logo-genesis.svg" width="20" height="20"> GENESIS</a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/driving-lessons/" title="Driving school lesson information and prices">LESSONS &
                    PRICES</a></li>
                <li><a href="/student-feedback/" title="Student feedback about Genesis Driving School">WHAT THEY
                    SAY</a></li>
                <li><a href="/contact-details/" title="Genesis Driving School contact details">CONTACTS</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Learner driver useful external links">LINKS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.gov.uk/pass-plus/overview" title="Visit the DSA website"><span class="icon-new-tab"></span> Driving Standards Agency</a></li>
                        <li><a href="https://www.gov.uk/pass-plus/overview" title="Visit the Pass Plus website"><span class="icon-new-tab"></span> Pass Plus</a></li>
                        <li><a href="http://theorytestpro.co.uk/" title="Visit Theory Test Pro online"><span class="icon-new-tab"></span> Theory Test Pro</a></li>
                        <li><a href="https://www.gov.uk/browse/driving/learning-to-drive/" title="Book your driving test online"><span class="icon-new-tab"></span> Book your test online</a></li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>