<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.desc }}">
        <meta name="author" content="Rocketfish5">
        <meta name="apple-mobile-web-app-title" content="Genesis DS">

        <title>{{ page.title }}</title>

        <link rel="icon" href="/imgs/favicon.png">
        <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.url }}/css/genesis-002.css" rel="stylesheet">

        <script src="/js/head.min.js"></script>
        <script>
            head.js("/js/jquery.js", "/js/bootstrap.min.js", "/js/genesis.min.js", "/js/jquery.unveil.min.js");
        </script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script>
            head.js("/js/html5shiv.js")
                    .js("/js/respond.min.js");
        </script>
        <![endif]-->

    </head>

    <body class="{{ page.class }}">

       {{ content }}

    </body>
</html>
